{% extends "base.html" %}

{% block content %}
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <a id="send-ajax" href="#">Send Ajax Request</a>
</form>

<section class="section_result">
    <h1>Statistic of amount keywords</h1>
    {% for k, v in context.items %}
    <p>{{ k }} - {{ v }}</p>
    {% endfor %}
</section>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Statistic of amount keywords</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<button id="button" type="button" style="display:none" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Show result of ajax request
</button>

<script>
    $("#send-ajax").on('click', function(){
        data_url = $("#id_ajax_url").val();
        proxy = new AjaxProxy(data_url);
        proxy.get_kyeword_counter();
    })
</script>


{% endblock %}

